<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Awesoft\FastlyNodepingAcl\Cron\UpdateIpAddresses">
    <arguments>
      <argument name="logger" xsi:type="object">Awesoft\Framework\Logger\Logger</argument>
    </arguments>
  </type>

  <preference for="Awesoft\FastlyNodepingAcl\Api\Model\ConfigInterface"
              type="Awesoft\FastlyNodepingAcl\Model\Config"/>
  <preference for="Awesoft\FastlyNodepingAcl\Api\Model\FastlyApiInterface"
              type="Awesoft\FastlyNodepingAcl\Model\FastlyApi"/>
  <preference for="Awesoft\FastlyNodepingAcl\Api\Model\NodepingApiInterface"
              type="Awesoft\FastlyNodepingAcl\Model\NodepingApi"/>
  <preference for="Awesoft\FastlyNodepingAcl\Api\Cron\UpdateIpAddressesInterface"
              type="Awesoft\FastlyNodepingAcl\Cron\UpdateIpAddresses"/>
</config>
